<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <div id="component"></div>
    <p>EJS Welcome to <%= title %></p>
    <div id="component" class="g-app"></div>
    <script type="text/javascript" src="./js/runtime.js"></script><script type="text/javascript" src="./js/common.js"></script><script type="text/javascript" src="./js/index.js"></script></body>
</body>
</html>